body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.intro, .cards {
  margin: 8%;
}

.intro {
  margin-top: 20%;
  text-align: center;
}

.intro__title--main {
  font-weight: 600;
}

.intro__title--secondary {
  font-weight: 200;
}

.intro__text {
  margin-top: 8%;
  margin-bottom: 20%;
}

.card .card-img-bottom {
  width: 20%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
